netconf-yang
telemetry ietf subscription 2
 encoding encode-kvgpb
 filter xpath /ios-events-ios-xe-oper:interface-state-change
 source-address {{ source }} 
 stream yang-notif-native
 update-policy on-change
 receiver ip address {{ telegraf_node }} 57000 protocol grpc-tcp
